<!--<div class="m-3">-->
<!--  <table mat-table [dataSource]="dataSource" class="subpage-table">-->
<!--    <ng-container matColumnDef="Nazwa">-->
<!--      <th mat-header-cell *matHeaderCellDef>Nazwa</th>-->
<!--      <td mat-cell *matCellDef="let element">{{element.name}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="Ilość">-->
<!--      <th mat-header-cell *matHeaderCellDef>Ilość</th>-->
<!--      <td mat-cell *matCellDef="let element">{{element.quantity}}</td>-->
<!--    </ng-container>-->

<!--    <ng-container matColumnDef="Cena">-->
<!--      <th mat-header-cell *matHeaderCellDef>Cena</th>-->
<!--      <td mat-cell *matCellDef="let element">{{element.price}}</td>-->
<!--    </ng-container>-->

<!--    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--    <tr mat-row *matRowDef="let row; columns: displayedColumns" (contextmenu)="onRightClick($event, row)"></tr>-->
<!--  </table>-->
<!--</div>-->
<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
<!--  <button mat-menu-item>Edytuj</button>-->
<!--  <button mat-menu-item>Usuń</button>-->
<!--</mat-menu>-->

<!--//zamienic tabele na zwykła + po prawym kliku menu z opcja edytuj/usun-->


<div class="m-3">
  <table class="subpage-table">
    <thead>
    <tr>
      <th>Nazwa</th>
      <th>Ilość</th>
      <th>Cena</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of dataSource"
        (contextmenu)="onRightClick($event, item)"
        [class.selected]="selectedItem === item">
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </table>
</div>
<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <!--  <button mat-menu-item (click)="editItem(item)" >Edytuj</button>-->
  <button mat-menu-item (click)="deleteItem()" *ngIf="selectedItem">Usuń</button>
</mat-menu>
