:host {
  display: inline-block;
}

button {
  padding: 10px;
  border: 1px solid #ccc;

}

.room-button {
  position: relative;
}

mat-menu {
  margin-top: 5px;
  position: absolute;
  top: 100%;
  left: 0;
}
