.container-icon-picker{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 3rem;
  left: 7rem;
  width: 12rem;
  height: 12rem;
  overflow-y: auto;
  background-color: dimgrey;
  margin: 2px;
}

.icon-field:hover {
 background-color: #4CAF50;
}

:host {
  position: relative;
}
