.budget-summary-table {
  width: 50vw;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.budget-summary-table th, .budget-summary-table td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
